{% include 'header.html.twig' %}
<div id="pageConteiner">
<table>
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Czas</th>
        <th>Wyklucz</th>
    </tr>
    {% for post in postArray %}
    <tr>
        <td><img class="thumbnail" 
            src="{{post.getTitle()}}" alt=""></td>
        <td>{{post.getTitle()}}</td>
        <td>{{post.getAuthorName()}}</td>
        <td>{{post.getTimestamp()}}</td>
        <td>
            <a href="admin/remove/{{post.getId()}}">BAN</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% include 'footer.html.twig'}